@font-face {
    font-family: curved-pixel;
    src:url(fonts/rounded_pixel-7.ttf);
}
@font-face {
    font-family: clock;
    src:url(fonts/digital-7.ttf);
}
@font-face {
	font-family: upheaval_pro;
	src:url(fonts/upheaval_pro.ttf);
	
}